<section class="bg-gradient-to-r from-black to-indigo-950 h-screen py-20 sm:px-6 lg:px-8 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    

    <div class="flex flex-wrap justify-between mb-16">
      <!-- Columna Izquierda -->
      <div class="flex-1 ml-4">
        <app-spline-viewer class="w-full max-w-3xl h-96"></app-spline-viewer>
      </div>
    
      <!-- Columna Derecha -->
      <div class="flex-1 mr-4">
        <div class="flex flex-col space-y-8">
          <!-- Skill Card 1 -->
          <div class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl p-6 transform transition duration-500 hover:scale-105 hover:rotate-2 animate-fade-in-up" style="animation-delay: 200ms;">
            <div class="flex items-center mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-pink-400 mr-3 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>
              <h3 class="text-2xl font-bold text-white">Desarrollo Frontend</h3>
            </div>
            <p class="text-gray-300 mb-4">Creación de interfaces de usuario atractivas y responsivas utilizando las últimas tecnologías web.</p>
            <div class="flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-pink-500 text-white text-xs font-semibold rounded-full animate-pulse">HTML5</span>
              <span class="px-3 py-1 bg-blue-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 100ms;">TailwindCSS</span>
              <span class="px-3 py-1 bg-yellow-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 200ms;">JavaScript</span>
              <span class="px-3 py-1 bg-green-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 100ms;">TailwindCSS</span>
              <span class="px-3 py-1 bg-yellow-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 200ms;">Typescript</span>
              <span class="px-3 py-1 bg-indigo-600 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 300ms;">React</span>
              <span class="px-3 py-1 bg-red-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 300ms;">Angular</span>
            </div>
          </div>
    
          <!-- Skill Card 2 -->
          <div class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl p-6 transform transition duration-500 hover:scale-105 hover:rotate-2 animate-fade-in-up" style="animation-delay: 400ms;">
            <div class="flex items-center mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-green-400 mr-3 animate-spin-slow" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
              </svg>
              <h3 class="text-2xl font-bold text-white">Desarrollo Backend</h3>
            </div>
            <p class="text-gray-300 mb-4">Construcción de APIs robustas y escalables para potenciar aplicaciones web modernas.</p>
            <div class="flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-green-500 text-white text-xs font-semibold rounded-full animate-pulse">Node.js</span>
              <span class="px-3 py-1 bg-blue-600 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 100ms;">SpringBoot</span>
              <span class="px-3 py-1 bg-red-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 200ms;">Mysql</span>
              <span class="px-3 py-1 bg-indigo-500 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 300ms;">GraphQL</span>
            </div>
          </div>
    
          <!-- Skill Card 3 -->
          <div class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl p-6 transform transition duration-500 hover:scale-105 hover:rotate-2 animate-fade-in-up" style="animation-delay: 600ms;">
            <div class="flex items-center mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400 mr-3 animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
              </svg>
              <h3 class="text-2xl font-bold text-white">DevOps</h3>
            </div>
            <p class="text-gray-300 mb-4">Implementación de prácticas de CI/CD para mejorar la eficiencia y calidad del desarrollo de software.</p>
            <div class="flex flex-wrap gap-2">
              <span class="px-3 py-1 bg-blue-400 text-white text-xs font-semibold rounded-full animate-pulse">Docker</span>
              <span class="px-3 py-1 bg-emerald-400 text-white text-xs font-semibold rounded-full animate-pulse" style="animation-delay: 300ms;">Git</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    

</section>



  
  <style>
    @keyframes fade-in-down {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fade-in-up {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fade-in-right {
      0% {
        opacity: 0;
        transform: translateX(-10px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    @keyframes grow-width {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @keyframes spin-slow {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .animate-fade-in-down {
      animation: fade-in-down 0.5s ease-out;
    }
    .animate-fade-in-up {
      animation: fade-in-up 0.5s ease-out;
    }
    .animate-fade-in-right {
      animation: fade-in-right 0.5s ease-out;
    }
    .animate-grow-width {
      animation: grow-width 1s ease-out forwards;
    }
    .animate-spin-slow {
      animation: spin-slow 3s linear infinite;
    }
  </style>